body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2b2a2f;
  }
  
  header {
    background-color: #4C4C6D;
    color: #E8F6EF;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #f9f7f7;
    text-decoration: none;
  }
  
  section {
    padding: 50px 0;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
  } 

  #hero {
    background-image: url("sourceraj.gif");
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
    padding: 200px 0;
  }
  
  .hero-content {
    max-width: 600px;
    margin: 0 auto;
  }
  
  h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .about_container{
    width: 100%;
    padding: 50px 8%;
  }
  .imageSection{
    grid-area: imageSect;
  }
  .infoSection{
    grid-area: infoSect;
  }
  .skillSection{
    grid-area: skillSect;
  }
  .about_container .about_content{
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-gap: 70px;
    grid-template-areas: 'imageSect infoSect'
                          'skillSect skillSect';
  }
  .about_content .imageSection{
    position: relative;
    min-width: 300px;
    height: 380px;
  }
  .imageSection img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 2;
  }
  .about_content .imageSection::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    outline: 3px solid #787cb5;
    top: 15px;
    left: 15px;
    z-index: 1;
  }
  .infoSection h1{
    color: #f3f2f4;
    font-size: 30px;
    font-family: Helvetica;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 5px;
    position: relative;
  }
  .infoSection h1::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 110%;
    left: 0;
    background-color: #aaabb0;
  }
  .infoSection h1::after{
    content: '';
    position: absolute;
    width: 40%;
    height: 3px;
    top: calc(110% - 1px);
    left: 0px;
    background-color: #787cb5;
  }
  .infoSection h2{
    font-family: helvetica;
    font-size: 20px;
    font-weight: 600;
    color: #787cb5;
    padding: 14px 0px 15px;
    text-transform: capitalize;
    letter-spacing: 1px;
  }
  .infoSection p{
    color: #aaabb0;
    font-size: 18px;
    line-height: 1.2;
    text-align: justify;
    padding-bottom: 8px;
  }
  .personalInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 20px;
    margin-top: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid #555;
  }
  .personalInfo div{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .personalInfo div span{
    color: #aaabb0;
    letter-spacing: 1px;
  }
  .infoSection button{
    min-width: 150px;
    padding: 8px 18px;
    border: 1px solid #787cb5;
    border-radius: 25px;
    font-size: 18px;
    background-color: #2b2a2f;
    color: #aaabb0;
    cursor: pointer;
    transition: all 0.4s;
    margin-top: 20px;
  }
  .infoSection button:hover{
    color: #787cb5;
    border-color: #aaabb0;
  }
  .skillSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 80px;
  }
  .skillSection .subject{
    font-size: 17px;
    font-weight: thin;
    color: #aaabb0;
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .progress_bar{
    width: 100%;
    height: 16px;
    background-color: #2b2a2f;
    padding: 4px 6px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #444;
    border-radius: 15px;
  }
  .progress_line{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #787cb5;
    box-shadow: -1px -1px 2px #222222,
                 1px 1px 2px #111111;
    border-radius: 15px;             
  }
  .progress_line::after{
    position: absolute;
    content: attr(value);
    top: -35px;
    right: 0px;
    transform: translateX(-50%);
    color: #aaabb0;
    font-size: 17px;
  }
  #contact {
    padding: 20px;
    color: #aaabb0;
  }
  
  #contact h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  @media(max-width:1068px){
    .about_container .about_content{
      grid-template-areas: 'imageSect skillSect'
                            'infoSect infoSect';
    }
    .skillSection{
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
  }
  @media(max-width: 868px){
    .about_container .about_content{
      grid-template-areas: 'imageSect imageSect'
                            'infoSect infoSect'
                            'skillSect skillSect';
    }
  }
  @media(max-width: 668px){
    .personalInfo{
      grid-template-columns: 1fr;
    }
    
  }
  .bio {
    flex: 1 1 300px;
  }
  
  .project {
    display: flex;
    margin-bottom: 40px;
  }
  
  .project-image {
    flex: 0 0 300px;
    margin-right: 30px;
  }
  
  .project-image img {
    width: 100%;
  }
  
  .project-details {
    flex: 1 1 300px;
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  form button {
    padding: 10px 20px;
  }
.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: transparent;
    font-size: 15px;
    color: rgb(226, 232, 232);
    text-decoration: none;
    margin: 20px 10px 20px 0;

}
#services {
  padding: 20px;
  color: #aaabb0;
}

#services h2 {
  color: #aaabb0;
  font-size: 24px;
  margin-bottom: 10px;
}

.service {
  margin-bottom: 30px;
}

.service img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-bottom: 10px;
}

.service h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.service p {
  line-height: 1.5;
}
.form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background: linear-gradient(to bottom, #0077be, #3b8df2);
  border-radius: 10px;
  overflow: hidden;
  perspective: 1000px;
  transform-style: preserve-3d;
  transform: rotateX(-10deg);
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  animation: form-animation 0.5s ease-in-out;
}

@keyframes form-animation {
  from {
    transform: rotateX(-30deg);
    opacity: 0;
  }

  to {
    transform: rotateX(0deg);
    opacity: 1;
  }
}

.input {
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  color: rgb(255, 255, 255);
  border: 2px solid #3b8df2;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.input::placeholder {
  color: #fff;
}

.input:hover,
.input:focus {
  border-color: #3b8df2;
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.05) rotateY(20deg);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  outline: none;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #3b8df2;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transform: rotateX(-10deg);
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

button:hover {
  background-color: #0077be;
  font-size: 17px;
  transform: scale(1.05) rotateY(20deg) rotateX(10deg);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 32px;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: #e8e8e8;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content .heading {
  font-weight: 600;
  font-size: 23px;
}

.content .para {
  line-height: 1.5;
}

.content .btn {
  color: #e8e8e8;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
  z-index: -1;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover::before {
  height: 70%;
}

.card:hover {
  box-shadow: none;
}

.card:hover .btn {
  color: #212121;
  background: #e8e8e8;
}

.content .btn:hover {
  outline: 2px solid #e8e8e8;
  background: transparent;
  color: #e8e8e8;
}

.content .btn:active {
  box-shadow: none;
}
#services {
  padding: 20px;
}

.card {
  display: inline-block;
  width: calc(25.40% - 30px); /* Adjust the width as per your preference */
  margin-right: 37px; /* Adjust the spacing between the cards */
  vertical-align: top;
  margin-bottom: 35px;
}

.card:last-child {
  margin-right: 0;
}

.card img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.card p {
  line-height: 1.5;
}
#card h2 {
  font-size: 28px; /* Increase or decrease the font size as desired */
  font-family: Helvetica;
  color: #4bb5b5; /* Set the color of the heading */
  text-align: center; /* Align the heading in the center */
  margin-bottom: 30px; /* Adjust the bottom margin as needed */
  text-transform: uppercase; /* Convert the text to uppercase */
}


  